/*
body {
    background-color: #ecf0f1;
}
*/


#navbar {
    position: relative;
    top: 0;
    left: 0;
    height:150px;
    width: 100%;
    display: inline;
}


#logo {
    position: relative;
    width: 130px;
    float: left;
    margin-left: 30px;
    margin-top: 0px;
    z-index: 999;
    clear:right;
}

#user {
    margin-top: 30px;
}

#user-name {
    position: relative;;
    display: inline;
    right: 0px;
    top: 0px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 30px;
    padding-top: 10px;
    font-weight: 300;
    z-index: 999;
    float: right;
    /*    clear: both;*/
}

#profile-picture {
    background: url('https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn2/t1.0-9/s720x720/10308559_10203780055722400_5664688402385287641_n.jpg');
    background-size: cover;
    position: relative;
    width: 40px;
    height: 40px;
    /*    margin-top: 30px;*/
    display: inline-block;
    margin-right: 15px;
    border: 1px solid black;
    border-radius: 50%;
    float: right;
}
/*
#sign-in a {
    text-decoration: none;
    color: black;
}


#sign-in a:hover {
    color: #FA4632;
}
*/

/*
#title {
    position: relative;
    top: 55px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-weight: 700;
    margin: 0 auto;
    font-size: 60px;
    clear: both;
}
*/

#slogan {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 80px;
    font-family: 'Raleway', 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    clear: both;

}

.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}

/*
.form-wrapper {
    width: 450px;
    padding: 15px;
    margin: 150px auto 50px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
*/

/* Form text input */

.form-wrapper input {
    width: 31.55%;
    padding: 10px 5px;
    float: left;
    margin-left: 28%;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 1px solid black;
    background: #fff;
    border-radius: 5px 5px;
    box-sizing: border-box;
}


.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* Form submit button */
.form-wrapper button {
    /*    overflow: visible;*/
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    width: 9.83%;
    font: 15px/40px 'Open Sans', 'trebuchet MS', 'Tahoma';
    color: #FA4632;
    background: #fff;
    border: 1px solid black;
    border-radius: 5px 5px;
    display:inline-block;
    /*    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);*/
}

.form-wrapper button:hover{
    background: #FA4632;
    color: #fff

}

.form-wrapper select{

    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 42px;
    width: 6.83%;
    margin-left: 5px;
    min-width: 85px;
    font: 15px/40px 'Open Sans', 'trebuchet MS', 'Tahoma';
    color: #FA4632;
    text-align:center;
    text-indent: 15px;
    background: #fff;
    border: 1px solid black;
    border-radius: 5px 5px;
    display:inline-block;
}

#history {
    position: relative;
    width: 800px;
    height: 180px;
    left: 50%;
    margin-left: -350px;
    margin-top: 20px;
    clear: both;
}

.history-images {
    width: 710px;
    height: 160px;
    margin-top: 10px;
}

#arrow {
    position: relative;
    font-family: sans-serif;
    color: black;
    font-weight: 300;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    float: right;
    text-align: center;
    margin-top: -20px;
}

#history-title {
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 200;
}

.history-images {
    width: 704px;
    height: 160px;
    margin-top: 10px;
}

a .images {
    transition: all 0.5s ease;
    -webkit-transform: translate3d(0,0,0)
}

.history-images a:hover {
    -webkit-filter: grayscale(100%)
}

.more-history-images {
    position: relative;
    width: 700px;
    height: 150px;
    top: 10px;
    display: none;
}

.image {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0px 20px 0px 0px;
    border: 1px solid black;
    background-size: cover;
    float:left;
}


#image1 {
    background: url('http://www.examiner.com/images/blog/replicate/EXID51428/images/chipotle-chicken-bowl.jpg') 50% 50% no-repeat;
    background-size: cover;
}

#image2 {
    background: url('http://hooplablog.com/wp-content/uploads/2011/09/Tender+Greens+Salads.jpg') 50% 50% no-repeat;
    background-size: cover;
}

#image3 {
    background: url('http://aht.seriouseats.com/images/20090311-umami-burger.jpg') 50% 50% no-repeat;
    background-size: cover;
}

#image4 {
    background: url('http://twinspiration22.com/wp-content/uploads/2013/11/RV-1.jpg') 50% 50% no-repeat;
    background-size: cover;
}
#suggestions {
    position: relative;
    width: 700px;
    height: 160px;
    left: 50%;
    margin-left: -350px;
    top: 20px;
    clear: both;

}

.suggestions-images {
    width: 704px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#suggestions-title {
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 200;
}

#sugg1 {
    background: url('http://creationgrill.com/wp-content/uploads/intelligentcia-coffee-lattee.jpg') 50% 50% no-repeat;
    background-size: cover;
}

#sugg2 {
    background: url('http://s3-media2.ak.yelpcdn.com/bphoto/llIVn9yGaxYNqcwEaLNjkw/l.jpg') 50% 50% no-repeat;
    background-size: cover;
}

#sugg3 {
    background: url('http://2.bp.blogspot.com/-wJDPUAjpm70/T4Je-JqdyHI/AAAAAAAAVcM/QUT9dBPpYbw/s1600/milk-09-red-velvet-ice-cream-sandwich.jpg') 50% 50% no-repeat;
    background-size: cover;
}

#sugg4 {
    background: url('http://s3.amazonaws.com/foodspotting-ec2/reviews/3964415/thumb_600.jpg?1377294881') 50% 50% no-repeat;
    background-size: cover;
}

#arrow2 {
    position: relative;
    font-family: sans-serif;
    color: black;
    font-weight: 300;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    float: right;
    text-align: center;
    margin-top: -20px;
}
.suggestions-images a {
    transition: all 0.5s ease;
    -webkit-transform: translate3d(0,0,0)
}

.suggestions-images a:hover {
    -webkit-filter: grayscale(100%)
}

.more-suggestions-images {
    position: relative;
    top: 20px;
    display: none;
    height: 150px;
}