/*
body {
    background-color: #ecf0f1;
}
*/


#navbar {
    position: relative;
    top: 0;
    left: 0;
    height:150px;
    width: 100%;
    display: inline;
}


#logo {
    position: relative;
    width: 130px;
    float: left;
    margin-left: 30px;
    margin-top: 0px;
    z-index: 999;
    clear:right;
}

#user {
    margin-top: 30px;
}

#user-name {
    position: relative;;
    display: inline;
    right: 0px;
    top: 0px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 30px;
    padding-top: 10px;
    font-weight: 300;
     z-index: 999;
    float: right;
/*    clear: both;*/
}

/*
#sign-in a {
    text-decoration: none;
    color: black;
}


#sign-in a:hover {
    color: #FA4632;
}
*/

/*
#title {
    position: relative;
    top: 55px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-weight: 700;
    margin: 0 auto;
    font-size: 60px;
    clear: both;
}
*/

#slogan {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 80px;
    font-family: 'Raleway', 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    clear: both;

}

.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    

/*
.form-wrapper {
    width: 450px;
    padding: 15px;
    margin: 150px auto 50px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
*/
 
/* Form text input */
 
.form-wrapper input {
    width: 31.55%;
    height: 3.155%;
    padding: 10px 5px;
    float: left;    
    margin-left: 28%;
    margin-top: 5px;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 1px solid black;
    background: #fff;
    border-radius: 5px 5px;      
    clear: both;
}
 
 
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Form submit button */
.form-wrapper button {
    position: relative;
/*    left: 30%;*/
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 3.155%;
    width: 11.83%;
    font: 15px/40px 'Open Sans', 'trebuchet MS', 'Tahoma';
    color: #FA4632;
    margin-left: 31%;
    margin-right: 27%;
    margin-top: -40px;
    background: #fff;
    border: 1px solid black;
    border-radius: 5px 5px;      
/*    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);*/
}   
   
.form-wrapper button:hover{     
    background: #FA4632;
    color: #fff
    
}   

#history {
    position: relative;
    width: 700px;
    height: 180px;
    left: 50%;
    margin-left: -350px;
    margin-top: 20px;
    clear: both;
}

#history-title {
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 200;
}

.history-images {
    width: 700px;
    margin-top: 10px;
}

.history-images a {
/*
        -webkit-transition: all 1s ease;
    
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    
*/
    transition: all 0.5s ease;
    -webkit-transform: translate3d(0,0,0)
}

.history-images a:hover {
    -webkit-filter: grayscale(100%)
}
.image {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0px 20px 0px 0px;
    border: 1px solid black;
    background-size: cover;
    float:left;
}


#image1 {
    background: url('http://www.examiner.com/images/blog/replicate/EXID51428/images/chipotle-chicken-bowl.jpg') 50% 50% no-repeat;
    background-size: cover;
}

#image2 {
    background: url('http://hooplablog.com/wp-content/uploads/2011/09/Tender+Greens+Salads.jpg') 50% 50% no-repeat;
    background-size: cover;
}

#image3 {
    background: url('http://aht.seriouseats.com/images/20090311-umami-burger.jpg') 50% 50% no-repeat;
    background-size: cover;
}

#image4 {
    background: url('http://twinspiration22.com/wp-content/uploads/2013/11/RV-1.jpg') 50% 50% no-repeat;
    background-size: cover;
}

#suggestions {
    position: relative;
    width: 700px;
    height: 180px;
    left: 50%;
    margin-left: -350px;
    margin-top: 20px;
    clear: both;
}

.suggestions-images {
    width: 700px;
    margin-top: 10px;
}

#suggestions-title {
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 200;
}

#sugg1 {
    background: url('http://creationgrill.com/wp-content/uploads/intelligentcia-coffee-lattee.jpg') 50% 50% no-repeat;
    background-size: cover;
}

#sugg2 {
    background: url('http://s3-media2.ak.yelpcdn.com/bphoto/llIVn9yGaxYNqcwEaLNjkw/l.jpg') 50% 50% no-repeat;
    background-size: cover;
}

#sugg3 {
    background: url('http://2.bp.blogspot.com/-wJDPUAjpm70/T4Je-JqdyHI/AAAAAAAAVcM/QUT9dBPpYbw/s1600/milk-09-red-velvet-ice-cream-sandwich.jpg') 50% 50% no-repeat;
    background-size: cover;
}

#sugg4 {
    background: url('http://s3.amazonaws.com/foodspotting-ec2/reviews/3964415/thumb_600.jpg?1377294881') 50% 50% no-repeat;
    background-size: cover;
}

.suggestions-images a {
    transition: all 0.5s ease;
    -webkit-transform: translate3d(0,0,0)
}

.suggestions-images a:hover {
    -webkit-filter: grayscale(100%)
}

.history-images-more {
    position: relative;
    width: 700px;
    height: 180px;
    top: 10px;
}