/*
#body1 {
    background-color: #ecf0f1;
}
*/

#body2 {
    background: url('https://www.tendergreens.com/files/Tuna%20Nicoise%201_96530.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#body2:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.6;
}

#navbar {
    position: relative;
    top: 0;
    left: 0;
    height:87px;
}


#logo {
    position: relative;
    width: 130px;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    z-index: 999;
}


#sign-in {
    position: relative;
    float: right;
    right: 30px;
    top: 30px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
     z-index: 999;
}
#sign-in a {
    text-decoration: none;
    color: black;
}


#sign-in a:hover {
    color: #FA4632;
}

#sign-in2 {
    position: relative;
    float: right;
    right: 30px;
    top: 30px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    z-index: 999;
}

#sign-in2 a {
    text-decoration: none;
    color: white;
}


#sign-in2 a:hover {
    color: #FA4632;
}

#title {
    position: relative;
    top: 55px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-weight: 700;
    margin: 0 auto;
    font-size: 60px;
    clear: both;
}

#slogan {
    position: relative;
    text-align: center;
    top: 41px;
    font-family: 'Raleway', 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;

}

#body2-title {
    position: relative;
    text-align: center;
    margin-top: 30px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 50px;
    clear: both;
}

#body2-description {
    position: relative;
    text-align: center;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 200;
    color: white;
    font-size: 26px;
    top: 130px;
}
/*
.cf:before, .cf:after{
    content:"";
    display:table;
}
 
*/
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}  

/* Form wrapper styling */
/*
.form-wrapper {
    width: 450px;
    padding: 15px;
    margin: 150px auto 50px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
 
*/
/* Form text input */


.form-wrapper input {
    width: 31.55%;
    height: 3.155%;
    padding: 10px 5px;
    /*float: left;    */
    /*margin-left: 28%;*/
    /*margin-top: 59px;*/
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 1 solid black;
    background: #fff;
    border-radius: 5px 5px;      
}

#outer-form-wrapper{
    margin:0 auto;
    width: 80%;
}

#searchBar{
    margin: 1% auto;
    text-align: center;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Form submit button */
.form-wrapper button {
/*    overflow: visible;*/
    position: relative;
    /*left: 30%;*/
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 3.155%;
    width: 11.83%;
    font: 15px/40px 'Open Sans', 'trebuchet MS', 'Tahoma';
    color: #FA4632;
    /*margin-left: 30%;*/
    margin-top: -40px;
    background: #fff;
    border: 1px solid black;
    border-radius: 5px 5px;      
/*    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);*/
}

.form-wrapper select {
    /*    overflow: visible;*/
    position: relative;
    /*left: 30%;*/
    border: 0;
    padding: 9px;
    cursor: pointer;
    height: 3.155%;
    width: 11.83%;
    font: 15px/40px 'Open Sans', 'trebuchet MS', 'Tahoma';
    color: #FA4632;
    /*margin-left: 30%;*/
    /*margin-top: -40px;*/
    background: #fff;
    border: 1px solid black;
    border-radius: 5px 5px;
    /*    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);*/
}

.form-wrapper button:hover{     
    background: #FA4632;
    color: #fff
    
}   

.tableCell {
    vertical-align:top;
}

#body2-footer {
    position: absolute;
    text-align: center;
    width: 900px;
    left: 50%;
    margin-left: -450px;
    color: white;
    font-size: 12px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    bottom: 10px;
    z-index: 999;
}

#body2-footer a {
    text-decoration: none;
    color: white;
}

#body2-footer a:hover {
    color: #FA4632;
}
/*
.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #c42f2f;
    outline: 0;   
}
*/
 
/*
.form-wrapper button:before {  left arrow 
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}
 
*/
/*
.form-wrapper button:hover:before{
    border-right-color: #e54040;
}
 
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #c42f2f;
}      
 
.form-wrapper button::-moz-focus-inner {  remove extra button spacing for Mozilla Firefox 
    border: 0;
    padding: 0;
}    */
