#navbar {
    position: relative;
    top: 0;
    left: 0;
    height:150px;
    width: 100%;
    display: inline;
}


#logo {
    position: relative;
    width: 130px;
    float: left;
    margin-left: 30px;
    margin-top: 0px;
    z-index: 999;
    clear:right;
}

#user {
    margin-top: 30px;
}

#user-name {
    position: relative;;
    display: inline;
    right: 0px;
    top: 0px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 30px;
    padding-top: 10px;
    font-weight: 300;
    z-index: 999;
    float: right;
    /*    clear: both;*/
}

#profile-picture {
    background: url('https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn2/t1.0-9/s720x720/10308559_10203780055722400_5664688402385287641_n.jpg');
    background-size: cover;
    position: relative;
    width: 40px;
    height: 40px;
    /*    margin-top: 30px;*/
    display: inline-block;
    margin-right: 15px;
    border: 1px solid black;
    border-radius: 50%;
    float: right;
}

#slogan {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 80px;
    font-family: 'Raleway', 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    clear: both;

}

.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}

/*
.form-wrapper {
    width: 450px;
    padding: 15px;
    margin: 150px auto 50px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
*/

/* Form text input */

.form-wrapper input {
    width: 31.55%;
    height: 3.155%;
    padding: 10px 5px;
    float: left;
    margin-left: 28%;
    margin-top: 5px;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 1px solid black;
    background: #fff;
    border-radius: 5px 5px;
    clear: both;
}


.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* Form submit button */
.form-wrapper button {
    position: relative;
    /*    left: 30%;*/
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 3.155%;
    width: 11.83%;
    font: 15px/40px 'Open Sans', 'trebuchet MS', 'Tahoma';
    color: #FA4632;
    margin-left: 31%;
    margin-right: 27%;
    margin-top: -40px;
    background: #fff;
    border: 1px solid black;
    border-radius: 5px 5px;
    /*    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);*/
}

.form-wrapper button:hover{
    background: #FA4632;
    color: #fff

}

#search-result-title {
    position: relative;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 300;
}

#search-tag {
    font-weight: bold;
}

.review {
    position: relative;
    width: 550px;
    height: 120px;
    left: 50%;
    margin-left: -275px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px 5px;
    background-color: white;
}


#review1-pic {
    position: relative;
    margin: 10px 30px 10px 10px;
    background: url('http://www.examiner.com/images/blog/replicate/EXID51428/images/chipotle-chicken-bowl.jpg') 50% 50% no-repeat;
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 5px 5px;
    float: left;
}

.food-text {
    position: relative;
    margin-top: 10px;
}

#stars {
    width: 90px;
}

.food-name {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

#number-of-reviews {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

#number-of-reviews a {
    text-decoration: none;
    color: black;
}

#number-of-reviews a:hover {
    color: #FA4632;
}

#review br {
    display: block;
    margin: 15px;
}

.food-description {
    font-style: italic;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    color: gray;
}